@define-color red #f38ba8;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color skyblue #89dceb;
@define-color lavender #b4befe;
@define-color violet #cba6f7;
@define-color white #eff1f5;
@define-color grey #a6adc8;
@define-color darkgrey #45475a;

* {
    all: unset;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

#workspaces {
    margin: 2px 4px 0px;
    border-radius: 1rem;
    background: @darkgrey;
}

#workspaces button {
    padding: 2px 7px;
    margin: 4px;
    border-radius: 16px;
    background: @grey;
    color: @darkgrey;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    min-width: 30px;
    background: @violet;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#clock, 
#network,
#window,
#cpu,
#memory,
#temperature,
#pulseaudio,
#battery {
    margin: 2px 0px 0px;
	padding: 0px 6px;
	background: @darkgrey;
}

#network {
    padding: 0 5px 0 8px;
    border-radius: 1rem 0 0 1rem;
}

#network.wifi {
    color: @green;
}

#network.disconnected {
    color: @red;
}

#clock {
    padding: 0 8px 0 5px;
    border-radius: 0 1rem 1rem 0;
    color: @white;
}

#window {
    padding: 0 10px;
    border-radius: 1rem;
    color: @white;
}

#cpu {
    padding: 0 5px 0 8px;
    border-radius: 1rem 0 0 1rem;
    color: @lavender;
}

#memory {
    color: @yellow;
}

#temperature {
    color: @teal;
}

#pulseaudio {
    color: @white;
}

#pulseaudio.muted {
    color: @grey;
}

#battery {
    padding: 0 8px 0 5px;
    border-radius: 0 1rem 1rem 0;
    color: @skyblue;
}

#temperature.critical {
    color: @red;
}

#battery.charging, #battery.plugged {
    color: @green;
}

#battery.critical:not(.charging) {
    color: @red;
}

